firecrawl-py
python-dotenv
beautifulsoup4
requests
pandas
langchain 
langchain-text-splitters 
langchain-community
langchain-google-genai
faiss-cpu
langchain-huggingface
openpyxl 
# sentence-transformers(installed)




# .venv\Scripts\activate 